@{
    Layout = null;
}
<div class="page-sidebar navbar-collapse collapse">
    <!-- BEGIN SIDEBAR MENU -->
    <!-- DOC: Apply "page-sidebar-menu-light" class right after "page-sidebar-menu" to enable light sidebar menu style(without borders) -->
    <!-- DOC: Apply "page-sidebar-menu-hover-submenu" class right after "page-sidebar-menu" to enable hoverable(hover vs accordion) sub menu mode -->
    <!-- DOC: Apply "page-sidebar-menu-closed" class right after "page-sidebar-menu" to collapse("page-sidebar-closed" class must be applied to the body element) the sidebar sub menu mode -->
    <!-- DOC: Set data-auto-scroll="false" to disable the sidebar from auto scrolling/focusing -->
    <!-- DOC: Set data-keep-expand="true" to keep the submenues expanded -->
    <!-- DOC: Set data-auto-speed="200" to adjust the sub menu slide up/down speed -->
    <ul class="page-sidebar-menu  page-header-fixed page-sidebar-menu-hover-submenu " data-keep-expanded="false" data-auto-scroll="true" data-slide-speed="200">
        <li class="nav-item start active open">
            <a href="/Admin/Home/DashBoard" class="nav-link nav-toggle">
                <i class="icon-home"></i>
                <span class="title">Trang chủ</span>
                <span class="selected"></span>
                <span class="arrow open"></span>
            </a>
        </li>
        <li class="nav-item  ">
            <a href="javascript:;" class="nav-link nav-toggle">
                <i class="icon-diamond"></i>
                <span class="title">Quản lý bài viết</span>
                <span class="arrow"></span>
            </a>
            <ul class="sub-menu">
                <li class="nav-item  ">
                    <a href="/Admin/AdminArticle/SuccessArticle" class="nav-link ">
                        <span class="title">Bài viết đã được duyệt</span>
                    </a>
                </li>
                <li class="nav-item  ">
                    <a href="/Admin/AdminArticle/Index" class="nav-link ">
                        <span class="title">Bài viết đang chờ duyệt</span>
                    </a>
                </li>
                <li class="nav-item  ">
                    <a href="#" class="nav-link ">
                        <span class="title">Bài viết spam</span>
                    </a>
                </li>
                <li class="nav-item  ">
                    <a href="/Admin/AdminArticle/ArticleSave" class="nav-link ">
                        <span class="title">Bài viết đã bị gỡ bỏ</span>
                    </a>
                </li>
            </ul>
        </li>
        <li class="nav-item  ">
            <a href="/Admin/Custommer/Index" class="nav-link nav-toggle">
                <i class="icon-puzzle"></i>
                <span class="title"> Quản lý khách hàng</span>
                <span class="arrow"></span>
            </a>
        </li>
        <li class="nav-item  ">
            <a href="/Admin/Staff/Index" class="nav-link nav-toggle">
                <i class="icon-settings"></i>
                <span class="title">Quản lý nhân viên</span>
                <span class="arrow"></span>
            </a>
        </li>
        <li class="nav-item  ">
            <a href="javascript:;" class="nav-link nav-toggle">
                <i class="icon-bulb"></i>
                <span class="title">Quản lý thẻ (Card)</span>
                <span class="arrow"></span>
            </a>
        </li>
        <li class="nav-item  ">
            <a href="/Admin/Category/Index" class="nav-link nav-toggle">
                <i class="icon-briefcase"></i>
                <span class="title">Quản lý danh mục</span>
                <span class="arrow"></span>
            </a>
        </li>
    </ul>
    <!-- END SIDEBAR MENU -->
</div>