@model ADS.APP.Models.Custommer
@{
    Layout = null;
}
<!DOCTYPE html>
<html>
<head>
    <title>RaoVat Online | Đăng nhập</title>
    <link rel="stylesheet" href="~/Content/css/bootstrap.min.css">
    <link rel="stylesheet" href="~/Content/css/bootstrap-select.css">
    <link href="~/Content/css/style.css" rel="stylesheet" type="text/css" media="all" />
    <!-- for-mobile-apps -->
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta name="keywords" content="Resale Responsive web template, Bootstrap Web Templates, Flat Web Templates, Android Compatible web template,
Smartphone Compatible web template, free webdesigns for Nokia, Samsung, LG, Sony Ericsson, Motorola web design" />
    <script type="application/x-javascript"> addEventListener("load", function() { setTimeout(hideURLbar, 0); }, false); function hideURLbar(){ window.scrollTo(0,1); } </script>
    <!-- //for-mobile-apps -->
    <!--fonts-->
    <!--//fonts-->
    <!-- js -->
    <script type="text/javascript" src="~/Content/js/jquery.min.js"></script>
    <!-- js -->
    <!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
    <script src="~/Content/js/bootstrap.min.js"></script>
    <script src="~/Content/js/bootstrap-select.js"></script>
    <script>
        $(document).ready(function () {
            var mySelect = $('#first-disabled2');

            $('#special').on('click', function () {
                mySelect.find('option:selected').prop('disabled', true);
                mySelect.selectpicker('refresh');
            });

            $('#special2').on('click', function () {
                mySelect.find('option:disabled').prop('disabled', false);
                mySelect.selectpicker('refresh');
            });

            $('#basic2').selectpicker({
                liveSearch: true,
                maxOptions: 1
            });
        });
    </script>
    <script type="text/javascript" src="~/Content/js/jquery.leanModal.min.js"></script>
    <link href="~/Content/css/jquery.uls.css" rel="stylesheet" />
    <link href="~/Content/css/jquery.uls.grid.css" rel="stylesheet" />
    <link href="~/Content/css/jquery.uls.lcd.css" rel="stylesheet" />
    <!-- Source -->
    <script src="~/Content/js/jquery.uls.data.js"></script>
    <script src="~/Content/js/jquery.uls.data.utils.js"></script>
    <script src="~/Content/js/jquery.uls.lcd.js"></script>
    <script src="~/Content/js/jquery.uls.languagefilter.js"></script>
    <script src="~/Content/js/jquery.uls.regionfilter.js"></script>
    <script src="~/Content/js/jquery.uls.core.js"></script>
    <script>
        $(document).ready(function () {
            $('.uls-trigger').uls({
                onSelect: function (language) {
                    var languageName = $.uls.data.getAutonym(language);
                    $('.uls-trigger').text(languageName);
                },
                quickList: ['en', 'hi', 'he', 'ml', 'ta', 'fr'] //FIXME
            });
        });
    </script>
</head>
<body>
    <div class="header">
        <div class="container">
            <div class="logo">
                <a href="/Page/Home"><span>RaoVat</span>Online</a>
            </div>
        </div>
    </div>
    <section>
        <div id="page-wrapper" class="sign-in-wrapper">
            <div class="graphs">
                <div class="sign-in-form">
                    <div class="sign-in-form-top">
                        <h1>Đăng nhập</h1>
                    </div>
                    <div class="signin">
                        <div class="signin-rit">
                            <span class="checkbox1">
                                <label class="checkbox"><input type="checkbox" name="checkbox" checked="">Quên mật khẩu ?</label>
                            </span>
                            <p><a href="#">Click tại đây</a></p>
                            <div class="clearfix"> </div>
                        </div>
                        @using (Html.BeginForm("Login", "User", FormMethod.Post))
                        {
                            <div class="log-input">
                                <div class="log-input">
                                    @Html.TextBoxFor(n => n.UserName, new { @class = "user", @placeholder = "Địa chỉ Email" })
                                </div>
                                <div class="clearfix"> </div>
                            </div>
                            <div class="log-input">
                                <div class="log-input">
                                    @Html.TextBoxFor(n => n.PassWord, new { @class = "lock", @placeholder = "Mật khẩu", @type = "password" })
                                </div>
                                <div class="clearfix"> </div>
                            </div>
                            <input type="submit" value="Đăng nhập">
                        }
                    </div>
                    <div class="new_people">
                        <a href="/User/SingUp">Đăng ký ngay</a>
                    </div>
                </div>
            </div>
        </div>
        <!--footer section start-->
        <footer class="diff">
            <p class="text-center">&copy 2017 RaoVat Online. All Rights Reserved | Design by <a href="https://facebook.com/Anhnv.sd95" target="_blank">Viet Anh Nguyen</a></p>
        </footer>
        <!--footer section end-->
    </section>
</body>
</html>
