<div class="modal-content">
    <div class="modal-header panel-info">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true"></button>
        <h4 class="modal-title">Modal Title</h4>
    </div>
    <div class="modal-body"> Modal body goes here </div>
    <div class="modal-footer">
        <button type="button" class="btn dark btn-outline" data-dismiss="modal">Close</button>
        <button type="button" class="btn green">Save changes</button>
    </div>
</div>
