@using ADS.APP.Models;
@{
    ViewBag.Title = "Index";
    Layout = "~/Areas/Admin/Views/Shared/_Layout.cshtml";
    ADS_Entities db = new ADS_Entities();
}
<script src="~/Scripts/ADS/Admin.js"></script>
<script type="text/javascript" src="//code.jquery.com/jquery-1.9.1.js"></script>
<script type="text/javascript" src="//code.jquery.com/ui/1.10.3/jquery-ui.js"></script>
<div class="page-bar">
    <ul class="page-breadcrumb">
        <li>
            <i class="icon-home"></i>
            <a href="index.html">Trang chủ</a>
            <i class="fa fa-angle-right"></i>
        </li>
        <li>
            <span>Quản lý khách hàng</span>
        </li>
    </ul>
    <div class="page-toolbar">
        <div class="btn-group pull-right">
            <button type="button" class="btn btn-fit-height grey-salt dropdown-toggle" data-toggle="dropdown" data-hover="dropdown" data-delay="1000" data-close-others="true">
                Tùy chọn
                <i class="fa fa-angle-down"></i>
            </button>
            <ul class="dropdown-menu pull-right" role="menu">
                <li>
                    <a href="#">
                        <i class="icon-bell"></i> Action
                    </a>
                </li>
                <li>
                    <a href="#">
                        <i class="icon-shield"></i> Another action
                    </a>
                </li>
                <li>
                    <a href="#">
                        <i class="icon-user"></i> Something else here
                    </a>
                </li>
                <li class="divider"> </li>
                <li>
                    <a href="#">
                        <i class="icon-bag"></i> Separated link
                    </a>
                </li>
            </ul>
        </div>
    </div>
</div>
<div class="row">
    <div class="col-md-12">
        <!-- BEGIN EXAMPLE TABLE PORTLET-->
        <div class="portlet light bordered" id="div">
            <div class="portlet-title">
                <div class="caption font-dark">
                    <i class="icon-settings font-dark"></i>
                    <span class="caption-subject bold uppercase"> Quản lý khách hàng</span>
                </div>
            </div>
            <div class="portlet-body">
                <div class="table-toolbar">
                    <div class="row">
                        <div class="col-md-6">
                            <div class="btn-group">
                                @*<button id="sample_editable_1_new" class="btn sbold green">
                                        thêm mới
                                        <i class="fa fa-plus"></i>
                                    </button>*@
                                @*<a class="btn sbold green" onclick="Custommer.ViewCreate()">
                                        Thêm mới <i class="fa fa-plus"></i>
                                    </a>*@
                            </div>
                        </div>
                        <div class="col-md-6 col-sm-6">
                            <div id="sample_3_filter" class="dataTables_filter pull-right">
                                <label>
                                    Tìm kiếm: <input id="seach" type="search" class="form-control input-sm input-small input-inline" placeholder="" aria-controls="sample_3">
                                </label>
                            </div>
                            <script>
                                $("#seach").keyup(function () {
                                    var keyseach = $("#seach").val();
                                    $.ajax({
                                        url: "/Admin/Custommer/ListCustomer",
                                        type: "GET",
                                        dataType: "html",
                                        data: { keyseach },
                                        success: function (data) {
                                            $("#listCustomer").html(data);
                                        }
                                    })
                                })


                            </script>
                        </div>
                    </div>
                </div>
                <div id="sample_1_wrapper" class="dataTables_wrapper no-footer">
                    <div class="table-scrollable" id="listCustomer">
                        @{ Html.RenderAction("ListCustomer", "Custommer", new { Area = "Admin" });}
                    </div>
                </div>
            </div>
        </div>
        <!-- END EXAMPLE TABLE PORTLET-->
    </div>
</div>
