
@{
    Layout = null;
}

<div class="container">
    <h1><span class="segment-heading"> Đăng Thoải Mái, </span> Hái Đồ Hay.</h1>
    <p>Nơi đây sẽ có sự trao đổi hàng hóa cũ,mới thuận tiện nhất.</p>
    <a href="/Article/ArticleCreate">Đăng bài</a>
</div>
