
@{
    Layout = null;
}

<footer>
    <div class="footer-top">
        <div class="container">
            <div class="foo-grids">
                <div class="col-md-3 footer-grid">
                    <h4 class="footer-head">Chúng tôi là ai?</h4>
                    <p>Là nơi mọi người đặt niềm tin khi mua bán trao đổi.</p>
                    <p>Hãy cùng chúng tôi phát triển thị trường này lên một tầm cao mới.</p>
                </div>
                <div class="col-md-3 footer-grid">
                    <h4 class="footer-head">Trợ giúp</h4>
                    <ul>
                        <li><a href="faq.html">Faq</a></li>
                        <li><a href="feedback.html">Phản hồi của người dùng</a></li>
                        <li><a href="contact.html">Liên hệ với chúng tôi</a></li>
                        <li><a href="typography.html">Shortcodes</a></li>
                    </ul>
                </div>
                <div class="col-md-3 footer-grid">
                    <h4 class="footer-head">Thông tin</h4>
                    <ul>
                        <li><a href="regions.html">Địa chỉ của chúng tôi (Map)</a></li>
                        <li><a href="terms.html">Điều khoản sử dụng</a></li>
                        <li><a href="popular-search.html">Tìm kiếm phổ biến</a></li>
                        <li><a href="privacy.html">Chính sách của chúng tôi</a></li>
                    </ul>
                </div>
                <div class="col-md-3 footer-grid">
                    <h4 class="footer-head">Liên hệ với chúng tôi</h4>
                    <span class="hq">Trụ sở chính</span>
                    <address>
                        <ul class="location">
                            <li><span class="glyphicon glyphicon-map-marker"></span></li>
                            <li>3000 Cầu Giấy - Hà Nội - Việt Nam</li>
                            <div class="clearfix"></div>
                        </ul>
                        <ul class="location">
                            <li><span class="glyphicon glyphicon-earphone"></span></li>
                            <li>+0916 322 883</li>
                            <div class="clearfix"></div>
                        </ul>
                        <ul class="location">
                            <li><span class="glyphicon glyphicon-envelope"></span></li>
                            <li><a href="mailto:vietanhit95@gmail.com">vietanhit95@gmail.com</a></li>
                            <div class="clearfix"></div>
                        </ul>
                    </address>
                </div>
                <div class="clearfix"></div>
            </div>
        </div>
    </div>
    <div class="footer-bottom text-center">
        <div class="container">
            <div class="footer-logo">
                <a href="index.html"><span></span>Rao Vặt</a>
            </div>
            <div class="footer-social-icons">
                <ul>
                    <li><a class="facebook" href="http://facebook.com/Anhnv.sd95"><span>Facebook</span></a></li>
                    <li><a class="twitter" href="#"><span>Twitter</span></a></li>
                    <li><a class="flickr" href="#"><span>Flickr</span></a></li>
                    <li><a class="googleplus" href="#"><span>Google+</span></a></li>
                    <li><a class="dribbble" href="#"><span>Dribbble</span></a></li>
                </ul>
            </div>
            <div class="copyrights">
                <p> © 2017 RaoVat Online. All Rights Reserved | Design by  <a href="http://facebook.com/Anhnv.sd95"> Viet Anh Nguyen</a></p>
            </div>
            <div class="clearfix"></div>
        </div>
    </div>
</footer>
