@{
    Layout = null;
    ADS.APP.Models.Custommer cus = new ADS.APP.Models.Custommer();
    if (Session["Login"] != "")
    {
        cus = (ADS.APP.Models.Custommer)Session["Login"];
    }
}

<div class="container">
    <div class="logo">
        <a href="/"><span>RaoVat</span>Online</a>
    </div>
    <div class="header-right">
        @if (cus != null)
        {
            <a class="account" href="/User/Profilee">@cus.FullName</a>
        }
        else
        {
            <a class="account" href="/User/Login">Tài khoản của bạn</a>
        }

        <!-- Large modal -->
        <div class="selectregion">
            <button id="ProvinceName" class="btn btn-primary" data-toggle="modal" data-target="#myModal">
                Tỉnh/Thành Phố
            </button>
            <div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel"
                 aria-hidden="true">
                <div class="modal-dialog modal-lg">
                    <div class="modal-content">
                        <div class="modal-header">
                            <button type="button" class="close" data-dismiss="modal" aria-hidden="true">
                                &times;
                            </button>
                            <h4 class="modal-title" id="myModalLabel">
                                Chọn vị trí của bạn
                            </h4>
                        </div>
                        <script>
                            $(document).ready(function () {
                                $.ajax({
                                    url: "/Page/SeachProvinceV1",
                                    type: "GET",
                                    dataType: "Json",
                                    data: { },
                                    success: function (data) {
                                        let html = ''

                                        $.each(data, function (i, v) {
                                            html += '<option value="' + v.id + '">' + v.type + ' ' + v.name + '</option>'
                                        });
                                        $('#Province').append(html);
                                    }
                                })
                                $.ajax({
                                    url: "/Page/Menu",
                                    type: "GET",
                                    dataType: "Json",
                                    data: {},
                                    success: function (data) {
                                        let html = ''

                                        $.each(data, function (i, v) {
                                            html += '<option value="' + v.id + '" data-tokens="' + v.name + '">' + v.name + '</option>'
                                        });
                                        $('#Menu').append(html);
                                    }
                                })

                                $("#Province").change(function () {
                                    var Province = $(this).val();
                                    $.ajax({
                                        url: "/Page/SeachDistrict",
                                        type: "GET",
                                        dataType: "Json",
                                        data: { ProvinceId: Province },
                                        success: function (data) {
                                            let html = ''

                                            $.each(data, function (i, v) {
                                                html += '<option value="' + v.id + '">' + v.type + ' ' + v.name + '</option>'
                                            });
                                            $('#District').html(html);
                                        }
                                    })
                                });

                                let url = "/Page/SeachProvince?q=";
                                $("#ml").tokenInput(url, {
                                    theme: 'facebook',
                                    showHintAsWatermark: true,
                                    preventDuplicates: true,
                                    tokenLimit: 1,
                                    minChars: 3,
                                    hintText: "Nhập",
                                    noResultsText: "Không thấy kết quả nào",
                                    searchingText: "Đang tìm kiếm ...",
                                    searchDelay: 0,
                                    resultsFormatter: function (item) {
                                        return "<li>" + "<div style='display: inline-block; padding-left: 10px; font-size: 14px;'><div class='full_name'>" + item.name + "</div></div></li>"
                                    },
                                    tokenFormatter: function (item) {
                                        return "<li><p><b style='color: red; font-size: 14px;'>" + item.name + "</b></p></li>"
                                    },
                                    onAdd: function (item) {
                                        $("#ProvinceName").html('<i class="fa fa-map-marker" aria-hidden="true"></i>   ' + item.name);
                                        $("#myModal").modal('hide');
                                    }

                                })
                            })
                        </script>
                        <div class="modal-body">
                            <form class="form-horizontal" role="form">
                                <div class="form-group">
                                    <div class="bs-searchbox">
                                        <input type="text" class="form-control" id="ml" placeholder="Tìm địa điểm bạn mong muốn..." />
                                    </div>
                                    @*<div class="form-group">
                                            <select id="Province" class="form-control"></select>
                                        </div>
                                        <div class="form-group">
                                            <select id="District" class="form-control"></select>
                                        </div>*@
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
            </div>

        </div>
    </div>
</div>
