
<!DOCTYPE html>
<html>
<head>
    <title>Rao Vặt Online | Trang Chủ</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta name="keywords" content="Resale Responsive web template, Bootstrap Web Templates, Flat Web Templates, Android Compatible web template,
Smartphone Compatible web template, free webdesigns for Nokia, Samsung, LG, Sony Ericsson, Motorola web design" />


    <link rel="stylesheet" href="~/Content/css/bootstrap.min.css">
    <link href="~/Scripts/form-tokenfield/bootstrap-tokenfield.css" rel="stylesheet" />
    <link href="~/Content/js/jqueryui.css" rel="stylesheet" />
    <link href="~/Content/TokenInput/token-input.css" rel="stylesheet" />
    <link href="~/Content/TokenInput/token-input-facebook.css" rel="stylesheet" />

    <link href="~/Content/css/style.css" rel="stylesheet" type="text/css" media="all" />
    <link rel="stylesheet" href="~/Content/css/flexslider.css" type="text/css" media="screen" />
    <link rel="stylesheet" href="~/Content/css/font-awesome.min.css" />

    <link href="~/Content/css/jquery.uls.css" rel="stylesheet" />
    <link href="~/Content/css/jquery.uls.grid.css" rel="stylesheet" />
    <link href="~/Content/css/jquery.uls.lcd.css" rel="stylesheet" />
    
    <script type="application/x-javascript"> addEventListener("load", function() { setTimeout(hideURLbar, 0); }, false); function hideURLbar(){ window.scrollTo(0,1); } </script>

    <script type="text/javascript" src="//code.jquery.com/jquery-1.9.1.js"></script>
    <script type="text/javascript" src="//code.jquery.com/ui/1.10.3/jquery-ui.js"></script>
    @*<script type="text/javascript" src="dist/bootstrap-tokenfield.js" charset="UTF-8"></script>*@
    @*<script src="~/Scripts/jquery-1.10.2.min.js"></script>
    <script src="~/Scripts/jqueryui-1.9.2.min.js"></script>*@
    <script src="~/Content/js/bootstrap.min.js"></script>
    <script src="~/Scripts/form-tokenfield/bootstrap-tokenfield.js"></script>
    <script src="~/Content/TokenInput/jquery.tokeninput.js"></script>



    @*<script type="text/javascript" src="~/Content/js/jquery.leanModal.min.js"></script>
    <script src="~/Content/js/jquery.uls.data.js"></script>
    <script src="~/Content/js/jquery.uls.data.utils.js"></script>
    <script src="~/Content/js/jquery.uls.lcd.js"></script>
    <script src="~/Content/js/jquery.uls.languagefilter.js"></script>
    <script src="~/Content/js/jquery.uls.regionfilter.js"></script>
    <script src="~/Content/js/jquery.uls.core.js"></script>*@
    <script>
        $(document).ready(function () {
            var mySelect = $('#first-disabled2');

            $('#special').on('click', function () {
                mySelect.find('option:selected').prop('disabled', true);
                mySelect.selectpicker('refresh');
            });

            $('#special2').on('click', function () {
                mySelect.find('option:disabled').prop('disabled', false);
                mySelect.selectpicker('refresh');
            });

            //$('#basic2').selectpicker({
            //    liveSearch: true,
            //    maxOptions: 1
            //});
        });
    </script>

    <script>
        $(document).ready(function () {
            //$('.uls-trigger').uls({
            //    onSelect: function (language) {
            //        var languageName = $.uls.data.getAutonym(language);
            //        $('.uls-trigger').text(languageName);
            //    },
            //    quickList: ['en', 'hi', 'he', 'ml', 'ta', 'fr'] //FIXME
            //});

            //$.ajax({
            //    url: "/Page/SeachProvince",
            //    type: "GET",
            //    dataType: "Json",
            //    data: { KeySeach: "" },
            //    success: function (data) {
            //        let arrData = [];
            //        //arrData.push($.map(data, function (item) {
            //        //    return { label: item.Id, value: item.Name };
            //        //}))
            //        $.each(data, function (i, v) {
            //            arrData.push({
            //                label: v.Id,
            //                value: v.Name
            //            });
            //        })

            //        console.log(arrData);
            //        $('#KeySeach').tokenfield('setTokens', arrData);

            //    }
            //})
        });
    </script>
</head>
<body>
    <div class="header">
        @Html.Partial("~/Views/Shared/_HeaderPartial.cshtml")
    </div>
    <div class="main-banner banner text-center">
        @Html.Partial("~/Views/Shared/_BanerPartial.cshtml")
    </div>
    <!-- content-starts-here -->
    @RenderBody()
    <!--footer section start-->
    @Html.Partial("~/Views/Shared/_FooterPartial.cshtml")
    <!--footer section end-->
</body>
</html>

