
@{
    Layout = null;
}
<!DOCTYPE html>
<html>
<head>
    <title>Resale a Business Category Flat Bootstrap Responsive Website Template | Single :: w3layouts</title>
    <link rel="stylesheet" href="~/Content/css/bootstrap.min.css">
    <link rel="stylesheet" href="~/Content/css/bootstrap-select.css">
    <link href="~/Content/css/style.css" rel="stylesheet" type="text/css" media="all" />
    <!-- for-mobile-apps -->
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta name="keywords" content="Resale Responsive web template, Bootstrap Web Templates, Flat Web Templates, Android Compatible web template,
Smartphone Compatible web template, free webdesigns for Nokia, Samsung, LG, Sony Ericsson, Motorola web design" />
    <script type="application/x-javascript"> addEventListener("load", function() { setTimeout(hideURLbar, 0); }, false); function hideURLbar(){ window.scrollTo(0,1); } </script>
    <!-- //for-mobile-apps -->
    <!--fonts-->
    <!--//fonts-->
    <!-- js -->
    <script type="text/javascript" src="~/Content/js/jquery.min.js"></script>
    <!-- js -->
    <!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
    <script src="~/Content/js/bootstrap.min.js"></script>
    <script src="~/Content/js/bootstrap-select.js"></script>
    <script>
        $(document).ready(function () {
            var mySelect = $('#first-disabled2');

            $('#special').on('click', function () {
                mySelect.find('option:selected').prop('disabled', true);
                mySelect.selectpicker('refresh');
            });

            $('#special2').on('click', function () {
                mySelect.find('option:disabled').prop('disabled', false);
                mySelect.selectpicker('refresh');
            });

            $('#basic2').selectpicker({
                liveSearch: true,
                maxOptions: 1
            });
        });
    </script>
    <script type="text/javascript" src="~/Content/js/jquery.leanModal.min.js"></script>
    <link href="~/Content/css/jquery.uls.css" rel="stylesheet" />
    <link href="~/Content/css/jquery.uls.grid.css" rel="stylesheet" />
    <link href="~/Content/css/jquery.uls.lcd.css" rel="stylesheet" />
    <!-- Source -->
    <script src="~/Content/js/jquery.uls.data.js"></script>
    <script src="~/Content/js/jquery.uls.data.utils.js"></script>
    <script src="~/Content/js/jquery.uls.lcd.js"></script>
    <script src="~/Content/js/jquery.uls.languagefilter.js"></script>
    <script src="~/Content/js/jquery.uls.regionfilter.js"></script>
    <script src="~/Content/js/jquery.uls.core.js"></script>
    <script>
        $(document).ready(function () {
            $('.uls-trigger').uls({
                onSelect: function (language) {
                    var languageName = $.uls.data.getAutonym(language);
                    $('.uls-trigger').text(languageName);
                },
                quickList: ['en', 'hi', 'he', 'ml', 'ta', 'fr'] //FIXME
            });
        });
    </script>
    <link rel="stylesheet" href="~/Content/css/flexslider.css" media="screen" />
</head>
<body>
    <div class="header">
        @Html.Partial("~/Views/Shared/_HeaderPartial.cshtml")
    </div>
    <div class="banner text-center">
        <div class="container">
            @Html.Partial("~/Views/Shared/_BanerPartial.cshtml")
        </div>
    </div>
    <!--single-page-->
    <div class="single-page main-grid-border">
        <div class="container">
            <ol class="breadcrumb" style="margin-bottom: 5px;">
                <li><a href="index.html">Home</a></li>
                <li><a href="all-classifieds.html">All Ads</a></li>
                <li class="active"><a href="mobiles.html">Mobiles</a></li>
                <li class="active">Mobile Phone</li>
            </ol>
            <div class="product-desc">
                <div class="col-md-7 product-view">
                    <h2>Lorem Ipsum is simply dummy text of the printing and typesetting industry</h2>
                    <p> <i class="glyphicon glyphicon-map-marker"></i><a href="#">state</a>, <a href="#">city</a>| Added at 06:55 pm, Ad ID: 987654321</p>
                    <div class="flexslider">
                        <ul class="slides">
                            <li data-thumb="images/ss1.jpg">
                                <img src="images/ss1.jpg" />
                            </li>
                            <li data-thumb="images/ss2.jpg">
                                <img src="images/ss2.jpg" />
                            </li>
                            <li data-thumb="images/ss3.jpg">
                                <img src="images/ss3.jpg" />
                            </li>
                        </ul>
                    </div>
                    <!-- FlexSlider -->
                    <script defer src="js/jquery.flexslider.js"></script>
                    <link rel="stylesheet" href="css/flexslider.css" type="text/css" media="screen" />

                    <script>
                        // Can also be used with $(document).ready()
                        $(window).load(function () {
                            $('.flexslider').flexslider({
                                animation: "slide",
                                controlNav: "thumbnails"
                            });
                        });
                    </script>
                    <!-- //FlexSlider -->
                    <div class="product-details">
                        <h4>Brand : <a href="#">Company name</a></h4>
                        <h4>Views : <strong>150</strong></h4>
                        <p><strong>Display </strong>: 1.5 inch HD LCD Touch Screen</p>
                        <p><strong>Summary</strong> : It is a long established fact that a reader will be distracted by the readable content of a page when looking at its layout. The point of using Lorem Ipsum is that it has a more-or-less normal distribution of letters, as opposed to using 'Content here, content here', making it look like readable English.</p>

                    </div>
                </div>
                <div class="col-md-5 product-details-grid">
                    <div class="item-price">
                        <div class="product-price">
                            <p class="p-price">Price</p>
                            <h3 class="rate">$ 259</h3>
                            <div class="clearfix"></div>
                        </div>
                        <div class="condition">
                            <p class="p-price">Condition</p>
                            <h4>Good</h4>
                            <div class="clearfix"></div>
                        </div>
                        <div class="itemtype">
                            <p class="p-price">Item Type</p>
                            <h4>Phones</h4>
                            <div class="clearfix"></div>
                        </div>
                    </div>
                    <div class="interested text-center">
                        <h4>Interested in this Ad?<small> Contact the Seller!</small></h4>
                        <p><i class="glyphicon glyphicon-earphone"></i>00-85-9875462655</p>
                    </div>
                    <div class="tips">
                        <h4>Safety Tips for Buyers</h4>
                        <ol>
                            <li><a href="#">Contrary to popular belief.</a></li>
                            <li><a href="#">Contrary to popular belief.</a></li>
                            <li><a href="#">Contrary to popular belief.</a></li>
                            <li><a href="#">Contrary to popular belief.</a></li>
                            <li><a href="#">Contrary to popular belief.</a></li>
                            <li><a href="#">Contrary to popular belief.</a></li>
                            <li><a href="#">Contrary to popular belief.</a></li>
                            <li><a href="#">Contrary to popular belief.</a></li>
                            <li><a href="#">Contrary to popular belief.</a></li>
                        </ol>
                    </div>
                </div>
                <div class="clearfix"></div>
            </div>
        </div>
    </div>
    <!--//single-page-->
    <!--footer section start-->
    @Html.Partial("~/Views/Shared/_FooterPartial.cshtml")
    <!--footer section end-->
</body>
</html>
