
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<div class="submit-ad main-grid-border">
    <div class="container">
        <h2 class="head">Đăng bài</h2>
        <div class="post-ad-form">
            <form>
                <label>Danh mục <span>*</span></label>
                <select class="">
                    <option>-- Danh Mục --</option>
                    <option>Mobiles</option>
                    <option>Electronics and Appliances</option>
                    <option>Cars</option>
                    <option>Bikes</option>
                    <option>Furniture</option>
                    <option>Pets</option>
                    <option>Books, Sports and hobbies</option>
                    <option>Fashion</option>
                    <option>Kids</option>
                    <option>Services</option>
                    <option>Real, Estate</option>
                </select>
                <div class="clearfix"></div>
                <label>Tiêu đề <span>*</span></label>
                <input type="text" class="phone" placeholder="">
                <div class="clearfix"></div>
                <label>Nội dung <span>*</span></label>
                <textarea class="mess" placeholder="Write few lines about your product"></textarea>
                <div class="clearfix"></div>
                <div class="upload-ad-photos">
                    <label>Hình ảnh :</label>
                    <div class="photos-upload-view">
                        <form id="upload" action="index.html" method="POST" enctype="multipart/form-data">

                            <input type="hidden" id="MAX_FILE_SIZE" name="MAX_FILE_SIZE" value="300000" />

                            <div>
                                <input type="file" id="fileselect" name="fileselect[]" multiple="multiple" />
                                <div id="filedrag">or drop files here</div>
                            </div>

                            <div id="submitbutton">
                                <button type="submit">Gửi tệp</button>
                            </div>

                        </form>

                        <div id="messages">
                            <p>Status Messages</p>
                        </div>
                    </div>
                    <div class="clearfix"></div>
                    <script src="js/filedrag.js"></script>
                </div>
                <div class="personal-details">
                    <form>
                        <label>Họ tên <span>*</span></label>
                        <input type="text" class="name" placeholder="">
                        <div class="clearfix"></div>
                        <label>Số điện thoại <span>*</span></label>
                        <input type="text" class="phone" placeholder="">
                        <div class="clearfix"></div>
                        <label>Địa chỉ Email<span>*</span></label>
                        <input type="text" class="email" placeholder="">
                        <div class="clearfix"></div>
                        <p class="post-terms">Đồng ý ấn nút <strong>Đăng bài</strong> thì bạn sẽ phải chấp nhận <a href="terms.html" target="_blank">Điều Khoản Sử Dụng </a> và <a href="privacy.html" target="_blank">Chính Sách Bảo Mật của Chúng Tôi</a></p>
                        <input type="submit" value="Đăng Bài">
                        <div class="clearfix"></div>
                    </form>
                </div>
        </div>
    </div>
</div>
